@model Arac

<form method="post" asp-action="Delete">
    <input asp-for="AracId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Araç Sil</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label>Araç Markası</label>
            <input asp-for="AracMarka" disabled class="form-control" />
            <span asp-validation-for="AracMarka" class="text-danger"></span>
            <label>Araç Modeli</label>
            <input asp-for="AracModel" disabled class="form-control" />
            <span asp-validation-for="AracModel" class="text-danger"></span>
            <label>Model Yılı</label>
            <input asp-for="Yil" disabled class="form-control" />
            <span asp-validation-for="Yil" class="text-danger"></span>
            <label>Motor Hacmi</label>
            <input asp-for="Motor" disabled class="form-control" />
            <span asp-validation-for="Motor" class="text-danger"></span>

        </div>
        <button type="submit" class="btn btn-primary">Sil</button>
        <a asp-controller="Arac" asp-action="Index" class="btn btn-secondary" style="width:150px">Geri Dön</a>
    </div>
</form>